<%= render "shared/errors" %>
<%# RAILS magic, it knows that we are in the edit form of an edit route in an
edit action, so by just telling it the model we are working with, RAILS will
auto populate the fields with the particle id passed in from the route params %>
<%= form_with(model: @article, local: true)  do |field| %>
  <div class="mb-3">
    <%= field.label :title, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= field.text_field :title, class:"form-control", placeholder: "Title of article" %>
    </div>
  </div>
  <div class="mb-3">
    <%= field.label :description, class: "col-sm-2 col-form-label" %>
    <div class="col-10">
      <%= field.text_area :description, size: "70x5", class:"form-control", placeholder: "Description of article" %>
    </div>
  </div>
  <div class="mb-3">
    <div class="col-sm-10">
      <%# NOTE field.submit does not use a comma to seperate the class %>
      <%# a comma will cause an error %>
      <%= field.submit class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
