<h1>Article Listing Page</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3" >Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %> </td>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <%# need to provide the id for the particular article for the paths / routes
        that require an id param %>
        <td><%= link_to 'Show', article_path(article.id) %></td>
        <%# RAILS MAGIC: rails is smart enough to pull out the id if you give it
        the entire article object %>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <%# to create links start with "link_to" %>
        <%# SIDE NOTE: switching from link_to to button_to for delete made it work %>
        <%# https://stackoverflow.com/questions/12997167/ruby-on-rails-link-to-delete-method-not-working %>
        <%# second item to pass in is the text that will be shown: "Delete" %>
        <%# third item is the path that the link will go to %>
        <%# fourth item is the method, without it the default is :get %>
        <%# specifify :delete, will make it ultimately route to destroy action in controller %>
        <%# fifth item is a data hash that can contain a confirm message - does not work in rails 6 %>
        <%# https://discuss.hotwired.dev/t/button-to-not-showing-the-data-confirm/2046/2 %>
        <td><%= button_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to 'Create New Article', new_article_path %></p>
