<h2 class="text-center"><%= @article.title %></h2>
<div class="card text-center m-4 shadow mb-5 bg-body rounded">
  <div class="card-header font-italic">
    <%= @article.user.username %>
  </div>
  <div class="card-body">
    <%# RAILS MAGIC: helper function to do some simple formating  %>
    <div class="card-text"><%= simple_format(@article.description) %></div>
    <div class="d-flex justify-content-between w-25 mx-auto">
      <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %>
      <%= button_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
    </div>
  </div>
  <div class="card-footer text-muted">
    <%# RAILS MAGIC: helper function for displaying human readable time %>
    <small>Created <%= time_ago_in_words(@article.created_at) %>, edited <%= time_ago_in_words(@article.updated_at) %></small>
  </div>
</div>
<%= link_to "Return to Articles Listing", articles_path %> |
