<div class="card text-center m-4 shadow mb-5 bg-body rounded">
  <div class="card-header font-italic">
    <div><%= article_data.user.username %></div>
    <% if @article.categories.any? %>
      <%# instead of doing a manual iteration through the articles.categories 
       and displaying an html element for each category item
       Rails has a shorthand for this %>
      <%# the below tells rails to loop through the items in the article.cateogires array 
       then look for a "category" partial and render that category item %>
      <%# Rails also knows to check the category folder for the correct partial %>
      <%= render @article.categories %>
    <% end %>
  </div>
  <div class="card-body">
    <%# RAILS MAGIC: helper function to do some simple formating  %>
    <div class="card-text"><%= simple_format(article_data.description) %></div>
    <div class="d-flex justify-content-between w-25 mx-auto">
      <% if logged_in? && (article_data.user == current_user || current_user.admin?) %>
        <%= link_to 'Edit', edit_article_path(article_data), class: "btn btn-outline-info" %>
        <%= button_to 'Delete', article_path(article_data), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>
  <div class="card-footer text-muted">
    <%# RAILS MAGIC: helper function for displaying human readable time %>
    <small>Created <%= time_ago_in_words(article_data.created_at) %>, edited <%= time_ago_in_words(article_data.updated_at) %></small>
  </div>
</div>
